*.class
*.pyc
*.pyo
.svn
_svn
.pydevproject
.project
.settings
.settings/*
out.css
build
dist
*.egg-info
.idea
maryjane/tests/out.js
maryjane/tests/minify_test*.js
maryjane/tests/stuff/a-b.txt
maryjane/tests/stuff/*.gz
