*.class
*.pyc
*.pyo
.svn
_svn
.pydevproject
.project
.settings
.settings/*
out.css
.coverage
build
dist
*.egg-info
.idea
temp
__pycache__/
test_stuff/contrib/dummy-file.txt
test_stuff/contrib/unused-file.txt
